<ion-header>
  <ion-toolbar color="primary" >
    <ion-title  class="ion-no-padding ion-text-start">In Progress</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel('cancel')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>{{request}}
  <ion-buttons class="footer">
    <ion-button (click)="onDone()">Done</ion-button>
    <ion-button color="danger" (click)="onCancel('cancel')">Cancel</ion-button>
  </ion-buttons>
</ion-content>
<div class="back-cover" [ngClass]="{'ion-hide': backCover}"></div>
