<!-- <div class="login-wrap"> -->
  <div class="login-box">
    
      <ion-toolbar color="primary" >
        <ion-title  class="ion-no-padding ion-text-start">Login Key</ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="onCancel('cancel')">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="login-input">
        <form #loginForm="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-input (focus)="onFocus()" [(ngModel)]="login.password" placeholder="Login key" name="password" type="password" #password="ngModel" required>
              </ion-input>
            </ion-item>
      
            <ion-text color="danger">
              <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
                Login key is required
              </p>
              <p [hidden]="noResultsFound || password.invalid" class="ion-padding-start">
                No results found
              </p>
            </ion-text>
          </ion-list>
        </form>
    </div>
    
    <ion-buttons class="footer">
      <ion-button size="small"  (click)="onLogin(loginForm)">Ok</ion-button>
      <ion-button size="small" color="danger"  (click)="onCancel('cancel')">Cancel</ion-button>
    </ion-buttons>
  </div>  
<!-- </div> -->
