<div class="new-table">
  <ion-list>
    <ng-container *ngFor="let request of requests; let i=index">
    <ion-item lines="full" color="new-request" >
      <ion-label>
        <div class="rows"  (click)="openRequest(request, i)">
          <span class="table">{{request.table}}</span>
          <span class="assignee">{{request.assignee}}</span>
          <ion-text class="timer" color="success">
            <app-timer></app-timer>
          </ion-text>
        </div>
      </ion-label>
    </ion-item>
    </ng-container>
  </ion-list>
</div>
