<ion-header>
  <ion-toolbar color="primary" >
    <ion-title  class="ion-no-padding ion-text-start ion-title">Cloudeat</ion-title>
    <ion-buttons slot="primary">
      <ion-button>Assign</ion-button>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<app-menu></app-menu>

<ion-content class="ion-padding">
  <div class="main">
    <div class="new-requests">
      <h3>New requests</h3>
      <div class="rows">
        <span class="table">Table</span>
        <span class="assignee">Assignee</span>
        <span class="timer">Timer</span>
      </div>
      <div class="new-table">
        <ion-list>
         
          <ion-item lines="full" color="new-request" class="">
            <ion-label>
              <div class="rows">
                <span class="table">Table</span>
                <span class="assignee">Assignee</span>
                <ion-text class="timer" color="success">Timer</ion-text>
              </div>
            </ion-label>
          </ion-item>
          <ion-item lines="full" color="new-request">
            <ion-label>
              <div class="rows">
                <span class="table">Table</span>
                <span class="assignee">Assignee</span>
                <span class="timer">Timer</span>
              </div>
            </ion-label>
          </ion-item>
        
        </ion-list>
      </div>
    </div>
    <div class="in-progress">
      <h3>In progress</h3>
      <div class="rows">
        <span class="table">Table</span>
        <span class="assignee">Assignee</span>
      </div>
      <div class="progress-table">
        <ion-list>
         
          <ion-item lines="full" color="in-progress" class="">
            <ion-label>
              <div class="rows">
                <span class="table">Table</span>
                <span class="assignee">Assignee</span>
              </div>
            </ion-label>
          </ion-item>
          <ion-item lines="full" color="in-progress">
            <ion-label>
              <div class="rows">
                <span class="table">Table</span>
                <span class="assignee">Assignee</span>
              </div>
            </ion-label>
          </ion-item>
        
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
