<ion-header>
  <ion-toolbar color="primary" >
    <ion-title  class="ion-no-padding ion-text-start ion-title">Cloudeat</ion-title>
    <ion-buttons slot="primary">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<app-menu></app-menu>

<ion-content class="ion-padding">
  <div class="main">
    <div class="new-requests">
      <h3>New requests</h3>
      <div class="rows">
        <span class="table">Table</span>
        <span class="assignee">Assignee</span>
        <span class="timer">Timer</span>
      </div>
      <app-new-table [requests]="requests"></app-new-table>
    </div>
    <div class="in-progress">
      <div class="headers">
        <h3 [ngClass]="{'active': progressActive}" (click)="slideToProgress()">In progress</h3>
        <h3 [ngClass]="{'active': doneActive}" (click)="slideToDone()">Done</h3>
      </div>
      
      <div class="rows">
        <span class="table">Table</span>
        <span class="assignee">Assignee</span>
      </div>
      

        <ion-slides >
          <ion-slide class="ion-no-padding">
            <app-progress-table [requests]="requests"></app-progress-table>
          </ion-slide>
          <ion-slide>
            <app-progress-table [requests]="requests"></app-progress-table>
          </ion-slide>
        </ion-slides>

    </div>
  </div>
</ion-content>
