/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './app/custom.scss';

.ion-title {
    font-size: 24px;
}

ion-toolbar {
    padding: 0 15px 0 30px;
    ion-button {
        margin: 0 5px;
    }
    ion-menu-button {
        margin-left: 10px;
    }
}

.main {
    display: flex;
    height: 100%;
    padding-bottom: 32px;
    @media (max-width: 767px) and (orientation: 'portrait') {
        flex-wrap: wrap;
    }
    .rows {
        display: flex;
        color: $gray;
        padding: 0 20px 5px 20px;
        .table {
            width: 45%;
        }
        .assignee {
            width: 40%;
        }
        .timer {
            width: 15%;
        }        
    }
    ion-list {
        border-radius: 3px;
    }
    .new-requests {
        width: 60%;       
        margin-right: 6px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;      
        @media (max-width: 767px) {
            width: 100%;
        }
        .new-table {
            background-color: #faffee;
            border: 1px solid #0c961a;
            border-radius: 3px;
            flex: 1;
            .rows {            
                color: $theme-color;
                padding: 0;
                .timer {
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
        }
        
    }

    .in-progress {
        width: 40%;
        margin-left: 6px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;      
        @media (max-width: 767px) {
            width: 100%;
        }
       .progress-table {
           background-color: #fff5000d;
            border: 1px solid #ffc700;
            border-radius: 3px;
            flex: 1;
            .rows {
                color: $theme-color;
                padding: 0;
            }
        }
        .rows {
            .table {
                width: 55%;
            }
            .assignee {
                width: 45%;
            }
        }
    }
}

.login-modal-css .modal-wrapper {
    //background-color: #00000059;
    height: 250px;
    width: 350px;
    
 }

 .back-cover {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000059;
    z-index: 10;
}